.list {
    list-style: none;
    padding-left: 0;
    padding-bottom: 15px;

    li {
        position: relative;
        line-height: 1.8em;
        padding: 2px 0;

        span[class*="icon-"] {
            position: absolute;
        }
        a,
        span:not([class*="icon-"]) {
            display: inline-block;
            padding-left: 25px;
        }
    }
}