{% extends 'AnujNairBundle::mainLayout.html.twig' %}

{% block htmlTitle %}{{ portfolio.getName}} &raquo; Anuj Nair's Portfolio &raquo; AnujNair.com{% endblock %}
{% block htmlDescription %}More information about the {{ portfolio.getName }} project by Anuj Nair{% endblock %}
{% block htmlKeywords %}
    {% set keywords = [portfolio.getName] %}
    {% for tag in portfolio.getTags %}
        {% set keywords = keywords|merge([tag.getName]) %}
    {% endfor %}
    {{ keywords|join(', ') }}
{% endblock %}
{% block activeRoute '_an_portfolio_index' %}
{% block pageCss 'portfolio' %}

{% block content %}
    <div class="row">
        {% include 'AnujNairBundle:Portfolio/Component:mainArticleContents.html.twig' with {
            'portfolio': portfolio
        } %}
        <aside class="col-md-4">
            <div class="row">
                <div class="col-md-12 col-sm-6">
                    {% if similarPortfolioArticles|length > 0 %}
                        <h2 class="title-header">More of my work</h2>
                        {% include 'AnujNairBundle:Components:singleDimensionalList.html.twig' with {
                            singleList: similarPortfolioArticles,
                            itemLinkUrl: '_an_portfolio_article',
                            itemLinkIdAttr: 'getId',
                            itemLinkNameAttr: 'getUrlSafeName',
                            itemNameAttr: 'getName',
                            itemIcon: 'icon-globe'
                        } %}
                    {% endif %}
                </div>
                <div class="col-md-12 col-sm-6">
                    <h2 class="title-header">Latest Blog Entries</h2>
                    {% include 'AnujNairBundle:Components:multiDimensionalList.html.twig' with {
                        multiList: blogArchive,
                        itemLinkUrl: '_an_blog_article',
                        itemLinkIdAttr: 'getId',
                        itemLinkTitleAttr: 'getUrlSafeTitle',
                        itemNameAttr: 'getTitle',
                        itemIcon: 'icon-calendar'
                    } %}
                </div>
            </div>
        </aside>
    </div>
{% endblock %}

