{% extends 'AnujNairBundle::mainLayout.html.twig' %}

{% block activeRoute '_an_portfolio_index' %}
{% block pageCss 'portfolio' %}

{% block content %}
    <div class="row">
        {% include 'AnujNairBundle:Portfolio/Component:mainArticleContents.html.twig' with {
            'portfolio': portfolio
        } %}
        <aside class="col-md-4">
            <div class="row">
                <div class="col-md-12 col-sm-8">
                    {% if similarPortfolioArticles|length > 0 %}
                        <h2 class="title-header">More of my work</h2>
                        {% include 'AnujNairBundle:Components:singleDimensionalList.html.twig' with {
                            singleList: similarPortfolioArticles,
                            itemLinkUrl: '_an_portfolio_article',
                            itemLinkIdAttr: 'getId',
                            itemLinkNameAttr: 'getUrlSafeName',
                            itemNameAttr: 'getName',
                            itemIcon: 'icon-globe'
                        } %}
                    {% endif %}
                </div>
            </div>
        </aside>
    </div>
{% endblock %}

