{% extends 'AnujNairBundle::mainLayout.html.twig' %}

{% block htmlTitle 'About Anuj Nair and Contact Info &raquo; AnujNair.com' %}
{% block htmlDescription 'Learn about Anuj Nair and find his contact information here.' %}
{% block htmlKeywords 'Anuj, Anuj Nair, Bio, Contact, Information, Skills, Interests, Tools, Tech, Connect' %}
{% block activeRoute '_an_about_index' %}
{% block pageCss 'about' %}

{% block content %}
    <div class="row">
        <section class="col-md-8">
            <div class="jumbotron">
                <h1>This is Anuj Nair <span class="icon-right"></span></h1>

                <h2>This is his bio <span class="icon-down"></span></h2>

                <div class="business-card">
                    <div class="card-name">
                        <span class="pull-right card-logo">&lt;info /&gt;</span>
                        Anuj Nair
                    </div>
                    <div class="card-profession">Software Engineer</div>
                    <div class="card-detail">
                        <span class="icon-location"></span>
                        San Francisco Bay Area, California
                    </div>
                    <div class="card-detail">
                        <span class="icon-calendar"></span>
                        2003 - Present
                    </div>
                    <div class="card-detail">
                        <span class="icon-help"></span>
                        Passion, Enthusiasm & Progression
                    </div>
                    <div class="card-detail">
                        <span class="icon-globe"></span>
                        <a href="http://anujnair.com">http://anujnair.com</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h2>About Anuj Nair</h2>
                    <p class="text-justify">
                        For the past {{ years }} years, I have been a Frontend and Backend engineer, creating websites
                        and applications for a variety of different industries, including eCommerce, media,
                        social, &amp; forums. My role has evolved from being a Freelancer to a Senior Developer,
                        to a Software Engineering Lead &amp; Manager.
                    </p>
                    <p class="text-justify">
                        Described as talented and as a tireless teacher, I have a passion for delivering high
                        quality results. I consider the bigger picture whilst simultaneously paying exceptional
                        attention to the little details, and always strive to better the people around me.
                    </p>

                    <h2>About this site</h2>
                    <p class="text-justify">
                        AnujNair.com is my own personal website. It acts as an outlet for me to blog about my latest
                        findings, show off what I have been working on, and act as a general playground for me to try
                        new technologies and implement my crazy new ideas!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <h4>Skills</h4>
                    <ul class="list">
                        <li>
                            <span class="icon-thumbs-up"></span>
                            <span>ReactJS, Redux, ES6, Webpack, Babel</span>
                        </li>
                        <li>
                            <span class="icon-thumbs-up"></span>
                            <span>Jasmine, Karma, Mocha, Enzyme, Jest</span>
                        </li>
                        <li>
                            <span class="icon-thumbs-up"></span>
                            <span>PHP, Symfony2, Zend Framework</span>
                        </li>
                        <li>
                            <span class="icon-thumbs-up"></span>
                            <span>SQL, MySQL, MSSQL, TSQL</span>
                        </li>
                        <li>
                            <span class="icon-thumbs-up"></span>
                            <span>CSS, SCSS, LESS</span>
                        </li>
                        <li>
                            <span class="icon-thumbs-up"></span>
                            <span>Memcached, Redis</span>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h4>Interests</h4>
                    <ul class="list">
                        <li>
                            <span class="icon-heart-alt"></span>
                            <span>Challenges</span>
                        </li>
                        <li>
                            <span class="icon-heart-alt"></span>
                            <span>Scalability &amp; Performance</span>
                        </li>
                        <li>
                            <span class="icon-heart-alt"></span>
                            <span>Responsive Design</span>
                        </li>
                        <li>
                            <span class="icon-heart-alt"></span>
                            <span>Intuitive UI &amp; UX</span>
                        </li>
                        <li>
                            <span class="icon-heart-alt"></span>
                            <span>Security</span>
                        </li>
                        <li>
                            <span class="icon-heart-alt"></span>
                            <span>Mentoring</span>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h4>Tools &amp; Tech</h4>
                    <ul class="list">
                        <li>
                            <span class="icon-wrench"></span>
                            <span>Webpack &amp; Babel</span>
                        </li>
                        <li>
                            <span class="icon-wrench"></span>
                            <span>Grunt &amp; Gulp</span>
                        </li>
                        <li>
                            <span class="icon-wrench"></span>
                            <span>Bower</span>
                        </li>
                        <li>
                            <span class="icon-wrench"></span>
                            <span>Git &amp; SVN</span>
                        </li>
                        <li>
                            <span class="icon-wrench"></span>
                            <span>Selenium</span>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <aside class="col-md-4">
            <div class="row">
                <div class="col-md-12 col-sm-8">
                    {% include '@AnujNair/About/Components/contactForm.html.twig' with {contactForm: contactForm} %}
                </div>
                <div class="col-md-12 col-sm-4" itemscope itemtype="http://schema.org/Organization">
                    <link itemprop="url" href="http://anujnair.com">
                    {% include 'AnujNairBundle:About/Components:findMeLinks.html.twig' %}
                </div>
            </div>
        </aside>
    </div>
{% endblock %}
