{% extends 'AnujNairBundle::mainLayout.html.twig' %}

{% block activeRoute '_an_about_index' %}

{% block content %}
    <div class="row">
        <section class="col-md-8">
            <h1 class="title-header">Title Here</h1>

            <div class="row">
            </div>
        </section>
        <aside class="col-md-4">

        </aside>
    </div>
{% endblock %}