<html>
    <head>
        <title>AnujNair.com message from {{ name }}</title>
    </head>
    <body>
        Dear Anuj,
        <br /><br />{{ name }} wants to contact you.
        <table cellpadding="2px" cellspacing="0" width="90%" style="width:90%; margin:10px auto;">
            <tr>
                <td><strong>Return Email:</strong></td>
                <td>{{ email }}</td>
            </tr>
            <tr>
                <td><strong>Message:</strong></td>
                <td>{{ contents|nl2br }}</td>
            </tr>
        </table>
        <br />Regards,
        <br />AnujNair.com
    </body>
</html>