.grid {
  &__body {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 150px auto 30px;
    grid-gap: 20px;
    grid-template-areas: 'body-header' 'body-main' 'body-footer';

    &-header {
      display: grid;
      padding-top: 100px;
      grid-area: body-header;
      grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
      grid-gap: 20px;
      grid-template-areas: '. header-main header-main header-nav .';

      header {
        grid-area: header-main;
      }

      nav {
        grid-area: header-nav;
      }
    }

    &-main {
      display: grid;
      padding-top: 80px;
      grid-area: body-main;
      grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
      grid-gap: 20px;
      grid-template-areas: '. main-content main-content main-aside .';

      .main-content {
        grid-area: main-content;
      }

      aside {
        grid-area: main-aside;
      }
    }

    &-footer {
      display: grid;
      grid-area: body-footer;
      grid-template-columns: 1fr 6fr 1fr;
      grid-gap: 20px;
      grid-template-areas: '. footer-main .';

      footer {
        display: flex;
        align-items: center;
        grid-area: footer-main;
      }
    }
  }
}
