@font-face {
  font-family: 'Flaticon';
  src: url('../fonts/flaticon/Flaticon.eot');
  src: url("../fonts/flaticon/Flaticon.eot?#iefix") format("embedded-opentype"),
    url('../fonts/flaticon/Flaticon.woff') format('woff'),
    url('../fonts/flaticon/Flaticon.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

.icon {
  &:before {
    display: inline-block;
    margin-right: 10px;
    text-transform: none;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    line-height: 1;
    font-family: 'Flaticon';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  &:hover:before {
    text-decoration: none;
  }

  &-mail-full:before {
    content: '\f100';
  }

  &-man:before {
    content: '\f101';
  }

  &-location:before {
    content: '\f102';
  }

  &-calendar:before {
    content: '\f103';
  }

  &-thumbs-up:before {
    content: '\f104';
  }

  &-spanner:before {
    content: '\f105';
  }

  &-pencil:before {
    content: '\f106';
  }

  &-earth-full:before {
    content: '\f107';
  }

  &-earth:before {
    content: '\f108';
  }

  &-star-full:before {
    content: '\f109';
  }

  &-heart:before {
    content: '\f10a';
  }

  &-tag:before {
    content: '\f10b';
  }

  &-tags:before {
    content: '\f10c';
  }

  &-li:before {
    content: '\f10d';
  }

  &-star:before {
    content: '\f10e';
  }

  &-tags-full:before {
    content: '\f10f';
  }

  &-tag-full:before {
    content: '\f110';
  }

  &-heart-full:before {
    content: '\f111';
  }

  &-chat:before {
    content: '\f112';
  }

  &-gp:before {
    content: '\f113';
  }

  &-email:before {
    content: '\f114';
  }

  &-chats-full:before {
    content: '\f115';
  }

  &-li-full:before {
    content: '\f116';
  }

  &-fb-full:before {
    content: '\f117';
  }

  &-fb:before {
    content: '\f118';
  }

  &-gp-full:before {
    content: '\f119';
  }

  &-t-full:before {
    content: '\f11a';
  }

  &-t:before {
    content: '\f11b';
  }

  &-gh-full:before {
    content: '\f11c';
  }

  &-so:before {
    content: '\f11d';
  }
}
