@import 'variables.scss';

.list {
  margin: 0;
  padding: 0;
  list-style: none;

  ul {
    margin-bottom: 10px;
    padding-left: 20px;
    list-style: none;
  }

  li {
    position: relative;
    padding: 3px 0;

    &.icon a {
      display: inline-block;
      padding-left: 30px;
    }

    em {
      margin-left: 7px;
      font-size: 12px;
    }
  }

  &--highlighted {
    font-weight: $font-weight-bold;
  }
}
