<ul class="single-list">
    {% for title, items in singleList %}
        <li>{{ title }}</li>
        <li>
            <ul>
                {% for item in items %}
                    <li>
                        <span class="{{ itemIcon }} pull-left"></span>
                        <a href="{{ path(itemLinkUrl, {
                            'id': attribute(item, itemLinkIdAttr),
                            'title': (itemLinkTitleAttr is defined ? attribute(item, itemLinkTitleAttr) : null),
                            'name': (itemLinkNameAttr is defined ? attribute(item, itemLinkNameAttr) : null)
                        }) }}">
                            {{ attribute(item, itemNameAttr) }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>