<h2 class="title-header">Also find me here:</h2>
<ul class="list">
    <li>
        <span class="icon-github"></span>
        <a href="https://github.com/AnujRNair/" target="_blank" itemprop="sameAs">GitHub</a>
    </li>
    <li>
        <span class="icon-stackoverflow"></span>
        <a href="http://stackoverflow.com/users/1759688/anuj" target="_blank" itemprop="sameAs">Stack Overflow</a>
    </li>
    <li>
        <span class="icon-linkedin"></span>
        <a href="https://www.linkedin.com/in/anujrnair" target="_blank" itemprop="sameAs">LinkedIn</a>
    </li>
    <li>
        <span class="icon-facebook"></span>
        <a href="https://www.facebook.com/anujrnair" target="_blank" itemprop="sameAs">Facebook</a>
    </li>
    <li>
        <span class="icon-twitter"></span>
        <a href="https://twitter.com/AnujRNair" target="_blank" itemprop="sameAs">Twitter</a>
    </li>
    <li>
        <span class="icon-gplus"></span>
        <a href="https://plus.google.com/+AnujNair89" rel="me" target="_blank" itemprop="sameAs">Google+</a>
    </li>
    <li>
        <span class="icon-globe"></span>
        <a href="{{ url('_an_blog_index') }}">AnujNair.com</a>
    </li>
</ul>