<div class="col-md-12 col-sm-8">
    <h3 class="title-header">About</h3>
    <p>
        Listed here are the open source sites and projects that I have designed
        and developed over the years.
    </p>
    <p>
        My portfolio ranges from sites created in different frameworks, to
        helpful libraries, and are mostly listed on my GitHub page for reference.
    </p>
    {% if tagSummary|length > 1 %}
        <p>
            My most popular tags at the moment for development are
            {% for ts in tagSummary %}
                {% if loop.index == loop.length %}&{% endif %}
                {% if loop.index != loop.length and loop.index != 1 %},{% endif %}
                <a href="{{ url('_an_portfolio_tag', {tagId: ts['id'], name: ts['name']|lower}) }}">
                    {{ ts['name'] }}
                </a>
            {% endfor %}
            .
        </p>
    {% endif %}
    <p>
        Click on any one of the websites or projects to view more information
        on what it was about and how I went about completing each task.
    </p>
</div>