<div class="col-md-12 col-sm-4">
    <h2 class="title-header">Learn more about me</h2>
    <ul class="list">
        <li>
            <span class="icon-pencil"></span>
            <a href="{{ url('_an_blog_index') }}">View my blog posts</a>
        </li>
        <li>
            <span class="icon-user"></span>
            <a href="{{ url('_an_about_index') }}">Learn more about me and contact me</a>
        </li>
    </ul>
</div>