{% extends 'AnujNairBundle::mainLayout.html.twig' %}

{% block activeRoute '_an_contact_index' %}

{% block content %}
    <div class="row">
        <section class="col-md-8">
            <h1 class="title-header">Title Here</h1>

            <div class="row">
            </div>
        </section>
        <aside class="col-md-4">
            <h2 class="title-header">You can find me here:</h2>
            <ul class="list">
                <li>
                    <span class="icon-github"></span>
                    <a href="https://github.com/AnujRNair/" target="_blank">GitHub</a>
                </li>
                <li>
                    <span class="icon-stackoverflow"></span>
                    <a href="http://stackoverflow.com/users/1759688/anuj" target="_blank">Stack Overflow</a>
                </li>
                <li>
                    <span class="icon-linkedin"></span>
                    <a href="https://www.linkedin.com/in/anujrnair" target="_blank">LinkedIn</a>
                </li>
                <li>
                    <span class="icon-facebook"></span>
                    <a href="https://www.facebook.com/anujrnair" target="_blank">Facebook</a>
                </li>
                <li>
                    <span class="icon-twitter"></span>
                    <a href="https://twitter.com/AnujRNair" target="_blank">Twitter</a>
                </li>
                <li>
                    <span class="icon-globe"></span>
                    <a href="{{ url('_an_blog_index') }}">AnujNair.com</a>
                </li>
            </ul>
        </aside>
    </div>
{% endblock %}