{% extends 'AnujNairBundle::mainLayout.html.twig' %}

{% block htmlTitle 'I couldn\'t find what you were looking for! &raquo; AnujNair.com' %}

{% block content %}
    {% if app.environment == 'dev' and error.trace is defined %}
        <ul class="list">
            <li>{{ message }}</li>
            {% for trace in error.trace %}
                {% if trace.file %}
                    <li>
                        <span>{{ trace.file }} (line {{ trace.line }})</span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
