@import 'variables.scss';

.article {
  display: inline-block;
  margin: 0 8px 15px;
  box-shadow: 0 0 10px -2px rgba($color-grey, 0.5);
  background-color: $color-grey-lighter;
  padding: 15px;
  width: calc(50% - 16px);
  vertical-align: top;

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: $font-size-large;

    a {
      color: $color-headers;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__metadata {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: $font-size-smaller;

    li {
      padding-bottom: 5px;

      &.icon-tags {
        overflow: hidden;
        white-space: nowrap;
      }
    }

    &-tags {
      display: inline-block;
      padding: 0 0 0 5px;
      list-style: none;

      li {
        display: inline-block;

        &:not(:first-child):before {
          display: inline-block;
          margin: 0 5px;
          content: '\2022';
        }
      }
    }
  }
}
