{% extends 'AnujNairBundle::mainLayout.html.twig' %}

{% block htmlTitle 'Anuj Nair\'s Blog &raquo; AnujNair.com' %}
{% block htmlDescription 'View Anuj Nair\'s Blog to see his latest findings and see what he has been recently working on.' %}
{% block htmlKeywords 'Anuj, Anuj Nair, Blog, Article, Software, Engineering, Programming, PHP, SQL, JS, JavaScript' %}
{% block activeRoute '_an_blog_index' %}
{% block pageCss 'blog' %}

{% block content %}
    <div class="row">
        <section class="col-md-8">
            {% if blogPosts|length > 0 %}
                {% for blog in blogPosts %}
                    {% include 'AnujNairBundle:Blog/Component:article.html.twig' with {'blog': blog, mini: true} %}
                {% endfor %}
                <div class="text-center">
                    {% include 'AnujNairBundle:Components:pagination.html.twig' with {
                        pagination: blogPosts,
                        pageUrl: '_an_blog_index',
                        page: page,
                        noPerPage: noPerPage
                    } %}
                </div>
            {% else %}
                <div class="no-blog-posts">
                    <div class="alert alert-info text-center">
                        There doesn't seem to be any blog posts here <span class="icon-frown"></span>
                    </div>
                </div>
            {% endif %}
        </section>
        <aside class="col-md-4 blog-aside">
            <div class="row">
                <div class="col-md-12 col-sm-8">
                    <h2 class="title-header">Past Blog Entries</h2>
                    {% include 'AnujNairBundle:Components:multiDimensionalList.html.twig' with {
                        multiList: archive,
                        itemLinkUrl: '_an_blog_article',
                        itemLinkIdAttr: 'getId',
                        itemLinkTitleAttr: 'getUrlSafeTitle',
                        itemNameAttr: 'getTitle',
                        itemIcon: 'icon-calendar'
                    } %}
                </div>
                <div class="col-md-12 col-sm-4">
                    <h2 class="title-header">Blog Tags</h2>
                    <ul class="list">
                        {% for tagData in tagSummary %}
                            <li>
                                <span class="icon-tag"></span>
                                <a href="{{ path('_an_blog_tag', {tagId: tagData.id, name: tagData.name|lower|replace(' ', '-')}) }}">
                                    {% if tagId is defined and tagId == tagData.id %}<strong>{% endif %}
                                        {{ tagData['name'] }} <small class="tag-count">({{ tagData['tagCount'] }})</small>
                                    {% if tagId is defined and tagId == tagData.id %}</strong>{% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </aside>
    </div>
{% endblock %}