@import 'variables';

.contact {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;

  &__group {
    display: table;
    margin-bottom: 10px;
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;

    .icon {
      display: table-cell;
      border: 1px solid $color-grey-light;
      border-right: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      background-color: $color-grey-lighter;
      padding: 6px 12px;
      width: 1%;
      vertical-align: middle;

      &:before {
        margin: 0;
      }
    }

    input,
    textarea {
      display: table-cell;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      border: 1px solid $color-grey-light;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      padding: 8px 12px;
      width: 100%;
      vertical-align: middle;

      &:focus,
      &:active,
      &:visited {
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        outline: 0;
        border-color: $color-blue-light;
        box-shadow: 0 0 8px rgba($color-blue-light, 0.6);
      }
    }

    &--error {
      .icon {
        border-color: $color-error-border;
        background-color: $color-error-background;
        color: $color-error-color;
      }

      input,
      textarea {
        border-color: $color-error-border;
      }
    }
  }

  &__submit {
    flex: 0;
    border: 1px solid $color-green-dark;
    border-radius: 4px;
    background-color: $color-green;
    cursor: pointer;
    padding: 7px 10px;
    white-space: nowrap;
    color: $color-white;
    touch-action: manipulation;

    .icon {
      display: inline-block;

      &:before {
        margin: 0 0 0 5px;
      }
    }

    &:hover {
      border: 1px solid darken($color-green-dark, 10%);
      background-color: darken($color-green, 10%);
    }
  }

  &__success {
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: $color-green;
    padding: 10px;
    text-align: center;
    color: $color-white;
  }

  &__error {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    color: $color-error-color;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
  }
}
