{% extends "AnujNairBundle::layout.html.twig" %}

{# This should be overwritten in each twig file to define the active nav section #}
{% block activeRoute '_an_none' %}

{% block body %}
<div class="grid__body-header header">
    {% block header %}
        {{ render(path('_an_header_index', {activeRoute: block('activeRoute')})) }}
    {% endblock %}
</div>

<div class="grid__body-main">
    <div class="main-content"></div>

    <aside class="aside-content" />
</div>

{% block content %}
{% endblock %}

<div class="grid__body-footer footer">
    {% block footer %}
        {{ render(path('_an_footer_index')) }}
    {% endblock %}
</div>
{% endblock %}
