{% extends "AnujNairBundle::layout.html.twig" %}

{# This should be overwritten in each twig file to define the active nav section #}
{% block activeRoute '_an_none' %}

{% block body %}
    <header>
        {% block header %}
            {{ render(path('_an_header_index', {activeRoute: block('activeRoute')})) }}
        {% endblock %}
    </header>

    <div class="main-container">
    </div>

    <footer>
        {% block footer %}
            {{ render(path('_an_footer_index')) }}
        {% endblock %}
    </footer>
{% endblock %}
